---
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
Cpp11BracedListStyle: false
FixNamespaceComments: true
Language: Cpp
NamespaceIndentation: All
SpaceAfterCStyleCast: true
Standard: Cpp11
UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -4

...
