[submodule "Cafe.Encoding"]
	path = Cafe.Encoding
	url = https://github.com/akemimadoka/Cafe.Encoding.git
[submodule "Cafe.ErrorHandling"]
	path = Cafe.ErrorHandling
	url = https://github.com/akemimadoka/Cafe.ErrorHandling.git
[submodule "Cafe.TextUtils"]
	path = Cafe.TextUtils
	url = https://github.com/akemimadoka/Cafe.TextUtils.git
