[submodule "Cafe.Encoding"]
	path = Cafe.Encoding
	url = https://github.com/akemimadoka/Cafe.Encoding.git
[submodule "Cafe.ErrorHandling"]
	path = Cafe.ErrorHandling
	url = https://github.com/akemimadoka/Cafe.ErrorHandling.git
[submodule "Cafe.TextUtils"]
	path = Cafe.TextUtils
	url = https://github.com/akemimadoka/Cafe.TextUtils.git
[submodule "Cafe.Io"]
	path = Cafe.Io
	url = https://github.com/akemimadoka/Cafe.Io.git
[submodule "Cafe.Environment"]
	path = Cafe.Environment
	url = https://github.com/akemimadoka/Cafe.Environment.git
